APP_NAME="Pluak Daeng Hospital"
APP_ENV=development
APP_URL=http://localhost/pdhweb

DB_HOST=localhost
DB_DATABASE=pdhweb
DB_USERNAME=root
DB_PASSWORD=

MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
